*{
    margin:0;
    padding: 0;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;  
}

li{
    margin: 0.5rem;
    border-radius: 30%;
    background-color: brown;
    padding: 0.7rem;
    list-style-type: none;
    font-size: 18px;
}

header img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px
}

a {
    text-decoration: none;
    color:white
    
}

a:hover{
    color:rgb(0, 255, 34);
    
}

/*
a:active{

    color: blue;
    background-color: blueviolet;
}
*/
h1{
    color: rgb(42, 165, 83);
    font-size: 40px;
    
}
/*
@keyframes cambiacolor{
    from{
        color: yellow;
    }
    to{
        color: brown;
    }

}
*/


@keyframes cambiacolor{
    0%{
        color: yellow;
    }
    50%{
        color: brown;
        
    }
    100%{
        color: green;
    }

}

.animacion{
    
    animation: cambiacolor 1s ease infinite alternate;
}


#inicio{
    background-image: url(img/idioma3.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#acerca{
    background-image: url(img/idioma2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#contacto{
    background-image: url(img/idioma1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#registro{
    background-image: url(img/idioma3.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#servicios{
    background-image: url(img/idioma2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: midnightblue;
    height: 20vh;
}

#iconos{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: brown;
}

footer ul{
    display: flex;
    justify-content: space-around;
}

footer li{
    font-size: 18px;
    list-style: none;
    text-align: center;
    margin-left: 40px;
    color: white;
}






/* responsive  puntos de corte */


@media screen and(max-width:640px){
    
}

@media screen and(max-width:1024px) and (min-width:640px){
    
}
@media screen and(min-width:1024px){
    
}
/* formulario de registro */

.formregistro{
    width: 450px;
    background: #24303c;
    padding: 40px;
    margin:auto;
    /*margin-top: 4px;*/
    border-radius: 14px;
    box-sizing: border-box;
    color: white;
    box-shadow: 7px 13px 47px #000;
    height: 100%;
}
.formregistro h4{
    font-size: 22px;
    margin-bottom: 22px;

}
.controles{
    width: 95%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid ;
    font-size: 18px;

}

.formregistro p{
    height: 20px;
    text-align: center;
    font-size: 18px;

}
.formregistro a{
    color: white;
    text-decoration: none;

}

.formregistro a:hover{
    color: white;
    text-decoration:underline;
    
}
.enviar{
    width: 100%;
    padding: 12px;
    color:white;
    margin: 16px 0;
    font-size: 16px;
    background-color: rgb(48, 48, 245);

}
.enviar:hover{
    text-decoration: underline;
    
}

/* Formulario de contacto  */
.conta{
    background-color: black;
	color: white;
    width: 400px;
	background-color: #009999;
	padding: 40px; /*para no pegar el borde con el contenido */
	margin: auto; /* para centrarlo  */
	margin-top: 2px;/*margen de arriba */
	border-radius: 4px;/* separa las cajas de texto */
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000000; /*le agrega una sombra */
}
.conta h4{
	font-size: 30px;
	margin-bottom: 30px; /*separa el titulo */
}

.conta .boton2 {
	width: 100%;
	background: black;/* color del boton enviar */
	/*border:none;*/	
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;

}
.controles2{
	width: 100%;
	background:#ffffff ;/* color de fondo de la caja de texto */
	padding: 10px; /* grosor del borde */
	border-radius: 4px;
	margin-bottom: 16px;/* separacion de las cajas de texto */
	/*border: 1px solid #1f53c5;*/
	font-family: 'calibri';
	font-size: 18px;
	color: black;/* color de la letra de las cajas */
}
.consulta{
	size: 100%;
}
